//projects start
// Mixin for shadow button with block sliding up
@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  &:active {
    background: #2B343A;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2);
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    height: $borderWidth;
    width: 100%;
    background-color: $color;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    background-color: $hoverColor;
  }
  &:hover,
  &:focus {
    & > * {
      & > * {
        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }
        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
  & > * {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: $borderWidth;
      background-color: $color;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    & > * {
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;
        height: $borderWidth;
        width: 100%;
        background-color: $hoverColor;
      }
      &:before {
        top: 0;
        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }
      &:after {
        bottom: 0;
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }
      & > * {
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;
          height: 100%;
          width: $borderWidth;
          background-color: $hoverColor;
        }
        &:before {
          left: 0;
          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }
        &:after {
          right: 0;
          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}
.card-header {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  display: flex;
  min-height: 40px;
}

.card-header-title {
  align-items: flex-start;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  padding: 10px;
}

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 40px;
}

.card-image {
  display: block;
  position: relative;
  .image img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.card-content {
  padding: 20px;
  .title + .subtitle {
    margin-top: -20px;
  }
}

.card-footer {
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 10px;
  &:not(:last-child) {
    border-right: 1px solid #dbdbdb;
  }
}

.card {
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #EEE;
  max-width: 100%;
  position: relative;
  width: 300px;
  .media:not(:last-child) {
    margin-bottom: 10px;
  }
  &.is-fullwidth {
    width: 100%;
  }
  &.is-rounded {
    border-radius: 5px;
  }
}

#projects .card {
  border-radius: 2px;
  margin: 25px 0;
  text-align: left;
  background: rgba(25, 25, 25, 0.3);
  display: inline-block;
  a {
    color: #EEE;
  }
  img {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .title {
    color: #06cbf6;
    text-transform: none;
  }
  .subtitle {
    color: #dddddd;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0.05em;
  }
  .content {
    font-size: 14px;
    p {
      max-height: 30px;
    }
    a {
      text-decoration: underline;
      text-decoration-color: #06cbf6;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
    min-height: 80px;
  }
  .tech-used {
    margin: 4px 5px 4px 0px;
    padding: 2px 5px;
    background: #007888;
    border-radius: 2px;
    display: inline-block;
    &:last-child{
      margin: 8px 5px 4px 0px;
    }
  }
  a.btn-view-proj {
    @include btn-border-slide(#2a2a2a, #06cbf6, 1px, 0.8s);
    text-align: center;
    background: none;
    border: none;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  #projects .card {
    margin: 20px 20px;
  }
}

@media (min-width: 1000px) {
  #projects .card {
    margin: 35px 20px;
  }
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  &::after{
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}
span.cd-date{
  color: #fff;
}
.projects-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  &::before {
    content: 'mobile';
    display: none;
  }
}

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.is-full-width .cd-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}

.cd-title {
  > * {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.2;
    padding: .4em 2em;
    display: none;
    opacity: .6;
  }
}

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 100vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
  div{
    margin: -4em 0 4em 0;
  }
}

.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
}

.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
  margin-bottom: 1.5em;
}

.projects-container {
  // max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  .cd-close, .cd-scroll {
    display: block;
    z-index: 1;
    width: 44px;
    height: 44px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
    transition: transform 1s 0s, visibility 0s 1s;
  }
}

.projects-container {
  .cd-close {
    position: fixed;
    top: 10%;
    right: 5%;
    background: url("../assets/icon-close-mobile.svg");
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .cd-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    background: url("../assets/icon-arrow-mobile.svg");
    background-repeat:no-repeat;
    background-position: center center;
  }
}

.project-is-open {
  .cd-close, .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
  }
}

.no-touch .project-is-open {
  .cd-close:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .cd-scroll:hover {
    -webkit-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  } 50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  } 100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}

@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  } 50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  } 100% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
