@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .intro{
    h2{
      font-size: 40px;
    }
    h3{
      margin: 0;
      line-height: inherit;
    }
    h5{
      line-height: inherit;
    }
  }
  #bot-h5{
    letter-spacing: 10px;
    margin-top: 50px;
  }
  .name{
    font-size: 1em;
    margin-left: -50%;
  }
  .sub-name{
    margin-top: 10px;
    margin-left: 23px;
    position: absolute;
    font-size: 35px
  }
  .projects-container {
    &::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
    .cd-single-project {
      position: absolute;
      top: 0;
      left: 0;
      width: 25vw;
      height: 100%;
      opacity: 0;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: width 0s;
      transition: width 0s;
      &:first-of-type {
        &::before {
          content: '../assets/img-1-large.jpg';
        }
        &::after {
          background-image: url("../assets/img-1-large.jpg");
        }
      }
      &:nth-of-type(2) {
        top: 0;
        left: 25vw;
        &::before {
          content: '../assets/img-2-large.jpg';
        }
        &::after {
          background-image: url("../assets/img-2-large.jpg");
        }
      }
      &:nth-of-type(3) {
        top: 0;
        left: 50vw;
        &::before {
          content: '../assets/img-3-large.jpg';
        }
        &::after {
          background-image: url("../assets/img-3-large.jpg");
        }
      }
      &:nth-of-type(4) {
        top: 0;
        left: 75vw;
        &::before {
          content: '../assets/img-4-large.jpg';
        }
        &::after {
          background-image: url("../assets/img-4-large.jpg");
        }
      }
      &::after {
        height: 100vh;
        width: 100%;
        opacity: 0;
      }
      &.is-loaded {
        /* show items when background images have been loaded */
        opacity: 1;
        &::after {
          opacity: 1;
        }
      }
      &.is-full-width {
        /* selected item */
        left: 0vw;
        width: 100vw;
        -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
      }
    }
  }
  .cd-title {
    top: 50vh;
    width: 25vw;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-20px);
    -ms-transform: translateY(-50%) translateX(-20px);
    transform: translateY(-50%) translateX(-20px);
  }
  .is-loaded {
    .cd-title {
      opacity: 1;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
      transition: transform 0.6s, opacity 0.6s, left 0.4s;
    }
    &.is-full-width .cd-title {
      left: 37.5vw;
      -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
      transition: transform 0.6s, opacity 0s, left 0.4s;
    }
  }
  .cd-title p {
    display: block;
  }
  .cd-title h2{
    font-size: 1.5em;
  }
  .cd-project-info {
    position: relative;
    z-index: 1;
  }
}

@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  headerh1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .dinklebutt, .Optimus-icon {
/* Still can't figure out why only translate works but margin wont... */
    min-height: 40px;
    min-width: 40px;
    -webkit-transform: translateX(-12%) translateY(-12%);
        -ms-transform: translateX(-12%) translateY(-12%);
            transform: translateX(-12%) translateY(-12%);
  }
  #cd-timeline img.tl-icon{
    min-height: 50px;
    min-width: 50px;
    margin: -25px 0 0 -25px;
  }
  #cd-timeline img.erac-logo{
    min-height: 40px;
    min-width: 45px;
    margin: -20px 0 0 -24px;
  }
  #cd-timeline img.ga-logo {
    min-height: 50px;
    min-width: 50px;
    margin: -25px 0 0 -25px;
  }
  #cd-timeline .fa-gmu {
    margin: 13px;
    color: white;
    font-size: 2em;
  }
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  #cd-timeline {
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
  .projects-container .cd-single-project {
    &::after {
      background-attachment: fixed;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
      transition: transform 0.8s, opacity 0.5s;
    }
    &.is-loaded::after {
      opacity: 0;
    }
  }
  .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .projects-container {
    .cd-close {
      background-image: url("../assets/icon-close-desktop.svg");
    }
    .cd-scroll {
      background-image: url("../assets/icon-arrow-desktop.svg");
    }
  }
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
