.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  &::after{
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}
span.cd-date{
  color: #fff;
}
.projects-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #3B3738;
  color: #fff;
  &::before {
    content: 'mobile';
    display: none;
  }
  .cd-single-project {
    width: 100%;
    height: 25%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport */
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    &::after {
      /* background image */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url("../assets/img-1-small.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-transition: opacity 0.5s, height 0.4s;
      transition: opacity 0.5s, height 0.4s;
    }
    &::before {
      /* never visible - this is used in jQuery to detect if the background image has been loaded  */
      content: '../assets/img-1-small.jpg';
      display: none;
    }
    &:nth-of-type(2) {
      top: 25vh;
      &::after {
        background-image: url("../assets/img-2-small.jpg");
      }
      &::before {
        content: '../assets/img-2-small.jpg';
      }
    }
    &:nth-of-type(3) {
      top: 50vh;
      &::after {
        background-image: url("../assets/img-3-small.jpg");
      }
      &::before {
        content: '../assets/img-3-small.jpg';
      }
    }
    &:nth-of-type(4) {
      top: 75vh;
      &::after {
        background-image: url("../assets/img-4-small.jpg");
      }
      &::before {
        content: '../assets/img-4-small.jpg';
      }
    }
    &.is-loaded {
      /* move items in the viewport when background images have been loaded */
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    &.is-full-width {
      /* selected item */
      position: absolute;
      top: 0;
      height: auto;
      z-index: 1;
      cursor: auto;
      -webkit-transition: z-index 0s 0s, top 0.4s 0s;
      transition: z-index 0s 0s, top 0.4s 0s;
      &::after {
        height: 100vh;
      }
    }
  }
}

.projects {
  color: #cf3b28;
  margin: 30px auto;
  padding: 10px 0 25px 0;
  display: inline-block;
  letter-spacing: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #222;
    border-bottom: 1px solid #cf3b28;
    letter-spacing: 6px;
  }
}

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.is-full-width .cd-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}

.cd-title {
  > * {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.2;
    padding: .4em 2em;
    display: none;
    opacity: .6;
  }
}

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 100vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
}

.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}

.projects-container {
  .cd-close, .cd-scroll {
    display: block;
    z-index: 1;
    width: 44px;
    height: 44px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
    transition: transform 1s 0s, visibility 0s 1s;
  }
}

.down {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container {
  .cd-close {
    position: fixed;
    top: 10%;
    right: 5%;
    background: url("../assets/icon-close-mobile.svg") no-repeat center center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .cd-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    background: url("../assets/icon-arrow-mobile.svg") no-repeat center center;
  }
}

.down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../assets/icon-arrow-mobile.svg") no-repeat center center;
}

.project-is-open {
  .cd-close, .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
  }
}

.down {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll, .down {
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .project-is-open {
  .cd-close:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .cd-scroll:hover {
    -webkit-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
  }
}

.down:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  } 50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  } 100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}

@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  } 50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  } 100% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
