/* @import 'form'; */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
h2 a, p a, em {
  padding: 0.3em 0em 0.2em 0em;
  margin: 0.3em -0.5em 0.3em -0.5em;
  border-radius: 50% 3em 50% 3em;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone; }

h2 a, p a {
  background: -webkit-linear-gradient(rgba(227, 221, 36, 0.15), rgba(227, 221, 36, 0.6), rgba(196, 191, 22, 0.6), rgba(227, 221, 36, 0.24));
  background: linear-gradient(rgba(227, 221, 36, 0.15), rgba(227, 221, 36, 0.6), rgba(196, 191, 22, 0.6), rgba(227, 221, 36, 0.24));
  border-right: solid 0.5em rgba(196, 191, 22, 0.15);
  border-left: solid 0.5em rgba(227, 221, 36, 0.3);
  text-decoration: none; }

h2 a:hover, h2 a:active, p a:hover, p a:active {
  color: rgba(0, 0, 0, 0.9); }

em {
  background: -webkit-linear-gradient(rgba(167, 255, 135, 0.2), rgba(68, 219, 13, 0.55), rgba(41, 150, 10, 0.4), rgba(167, 255, 135, 0.2));
  background: linear-gradient(rgba(167, 255, 135, 0.2), rgba(68, 219, 13, 0.55), rgba(41, 150, 10, 0.4), rgba(167, 255, 135, 0.2));
  border-right: solid 0.5em rgba(41, 150, 10, 0.07);
  border-left: solid 0.5em rgba(68, 219, 13, 0.2);
  font-style: normal; }

/* --------------------------------
Main components
-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49; }

headerh1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem; }

@media only screen and (min-width: 1170px) {
  .dinklebutt, .Optimus-icon {
    min-height: 40px;
    min-width: 40px;
    -webkit-transform: translateX(-12%) translateY(-12%);
    -ms-transform: translateX(-12%) translateY(-12%);
    transform: translateX(-12%) translateY(-12%); }

  .tl-icon {
    min-height: 50px;
    min-width: 50px;
    -webkit-transform: translateX(-20%) translateY(-19%);
    -ms-transform: translateX(-20%) translateY(-19%);
    transform: translateX(-20%) translateY(-19%); }

  .erac-logo {
    min-height: 40px;
    min-width: 40px;
    -webkit-transform: translateX(-16%) translateY(-16%);
    -ms-transform: translateX(-16%) translateY(-16%);
    transform: translateX(-16%) translateY(-16%); }

  /*   .erac-logo {
    min-height: 40px;
    min-width: 40px;
    -webkit-transform: translateX(-23%) translateY(-20%);
        -ms-transform: translateX(-23%) translateY(-20%);
            transform: translateX(-23%) translateY(-20%);
  } */
  #cd-timeline img.ga-logo {
    min-height: 50px;
    min-width: 50px;
    -webkit-transform: translateX(-20%) translateY(-20%);
    -ms-transform: translateX(-20%) translateY(-20%);
    transform: translateX(-20%) translateY(-20%);
    /*     -webkit-transform: translateX(-27%) translateY(-26%);
        -ms-transform: translateX(-27%) translateY(-26%);
            transform: translateX(-27%) translateY(-26%); */ }

  header {
    height: 300px;
    line-height: 300px; }

  headerh1 {
    font-size: 24px;
    font-size: 1.5rem; } }
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em; }

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 5px;
  background: #d7e4ed; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em; }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }
.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px; }

#cd-timeline .cd-timeline-img .erac-logo {
  margin-top: -14px; }

.cd-timeline-img.cd-school {
  background: #7E8F7C; }

.cd-timeline-img.erac-bubble {
  background: #02A15F; }

.cd-timeline-img.cd-ga {
  background: #ffe039; }

.ga-bubble {
  color: black !important; }

.ghost-bubble {
  background: #577074; }

.Optimus-bubble {
  background: #3B3738; }

.cd-timeline-img.tl-bubble {
  background: #FDF3E7; }

@media only screen and (min-width: 1170px) {
  .fa-gmu {
    margin: 14px;
    color: white;
    font-size: 30px; }

  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content h2 a {
  text-decoration: none; }

.cd-timeline-content h3 {
  font-size: .8em;
  margin: .5em 0 0 1em; }

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem; }

  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem; }

  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }

  100% {
    -webkit-transform: translateX(0); } }
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }

  100% {
    -webkit-transform: translateX(0); } }
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

span.cd-date {
  color: #fff; }

.projects-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #3B3738;
  color: #fff; }
  .projects-container::before {
    content: 'mobile';
    display: none; }
  .projects-container .cd-single-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport */
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
    .projects-container .cd-single-project::after {
      /* background image */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 25vh;
      width: 100%;
      background-image: url("../assets/img-1-small.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-transition: opacity 0.5s, height 0.4s;
      transition: opacity 0.5s, height 0.4s; }
    .projects-container .cd-single-project::before {
      /* never visible - this is used in jQuery to detect if the background image has been loaded  */
      content: '../assets/img-1-small.jpg';
      display: none; }
    .projects-container .cd-single-project:nth-of-type(2) {
      top: 25vh; }
      .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url("../assets/img-2-small.jpg"); }
      .projects-container .cd-single-project:nth-of-type(2)::before {
        content: '../assets/img-2-small.jpg'; }
    .projects-container .cd-single-project:nth-of-type(3) {
      top: 50vh; }
      .projects-container .cd-single-project:nth-of-type(3)::after {
        background-image: url("../assets/img-3-small.jpg"); }
      .projects-container .cd-single-project:nth-of-type(3)::before {
        content: '../assets/img-3-small.jpg'; }
    .projects-container .cd-single-project:nth-of-type(4) {
      top: 75vh; }
      .projects-container .cd-single-project:nth-of-type(4)::after {
        background-image: url("../assets/img-4-small.jpg"); }
      .projects-container .cd-single-project:nth-of-type(4)::before {
        content: '../assets/img-4-small.jpg'; }
    .projects-container .cd-single-project.is-loaded {
      /* move items in the viewport when background images have been loaded */
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .projects-container .cd-single-project.is-full-width {
      /* selected item */
      top: 0;
      height: auto;
      z-index: 1;
      cursor: auto;
      -webkit-transition: z-index 0s 0s, top 0.4s 0s;
      transition: z-index 0s 0s, top 0.4s 0s; }
      .projects-container .cd-single-project.is-full-width::after {
        height: 100vh; }

.projects {
  color: #cf3b28;
  margin: 30px auto;
  padding: 10px 0 25px 0;
  display: inline-block;
  letter-spacing: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .projects:hover {
    background: #222;
    border-bottom: 1px solid #cf3b28;
    letter-spacing: 6px; }

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }

.is-full-width .cd-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s; }

.cd-title > * {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.cd-title h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700; }
.cd-title p {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.2;
  padding: .4em 2em;
  display: none;
  opacity: .6; }

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 100vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s; }

.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1; }

.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2; }

.projects-container .cd-close, .projects-container .cd-scroll {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s; }

.down {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s; }

.projects-container .cd-close {
  position: fixed;
  top: 10%;
  right: 5%;
  background: url("../assets/icon-close-mobile.svg") no-repeat center center;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
.projects-container .cd-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../assets/icon-arrow-mobile.svg") no-repeat center center; }

.down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../assets/icon-arrow-mobile.svg") no-repeat center center; }

.project-is-open .cd-close, .project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s; }

.down {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s; }

.project-is-open .cd-scroll, .down {
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2; }

.no-touch .project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }
.no-touch .project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2); }

.down:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2); }

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1); }

  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1); }

  100% {
    -webkit-transform: translateX(-50%) scale(1); } }
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); }

  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1); }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); } }
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato";
  background: #222; }

*, *:after, *:before {
  box-sizing: border-box; }

.menu {
  width: 100%;
  height: 50px;
  position: fixed;
  background: #222;
  top: 0;
  z-index: 111;
  line-height: 50px;
  border-bottom: 1px solid rgba(207, 59, 40, 0.3); }
  .menu a {
    text-decoration: none;
    color: inherit; }
  .menu h1 {
    margin: 0 0 0 14px;
    font-weight: 400;
    color: #eaeaea;
    width: 55px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #444;
    line-height: 50px;
    font-size: 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s; }
    .menu h1 span {
      color: #cf3b28;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s; }
  .menu h1:hover {
    color: #666; }
    .menu h1:hover span {
      color: #666; }

.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  display: inline-block;
  font-weight: 300;
  color: #eaeaea;
  font-size: 15px;
  letter-spacing: 1px; }
  .topnav li {
    text-align: center;
    color: #eaeaea;
    margin: 0px 7px;
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
  .topnav li:first-child {
    margin-left: 10px; }
  .topnav li:hover {
    color: #cf3b28;
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg); }
  .topnav a {
    text-decoration: none;
    color: inherit; }
  .topnav i {
    font-size: .8em;
    padding-left: 5px; }

.head {
  color: #eaeaea;
  background: #222;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 60px;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1111;
  text-align: center;
  line-height: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }
  .head span {
    font-weight: 900; }

.head-hide {
  height: 0vh;
  opacity: 0; }

.name {
  width: 500px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: -30px; }

.sub-name {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 7px;
  font-weight: 300;
  margin-left: 23px;
  color: #cf3b28;
  font-size: 35px; }

.content-wrap {
  position: absolute;
  z-index: 1; }

.sec {
  height: 100vh;
  width: 100vw; }

.intro {
  background: #333;
  color: #eaeaea;
  text-align: center;
  display: table;
  text-transform: uppercase; }
  .intro .text-contain {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px; }
  .intro .text {
    padding-top: 30px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    line-height: 40px; }
  .intro h2 {
    vertical-align: middle;
    font-size: 40px;
    margin: -5px 0;
    letter-spacing: 5px; }
  .intro h3 {
    font-weight: 300;
    color: #cf3b28;
    font-size: 19px;
    letter-spacing: 0.5px;
    margin: 0; }
  .intro h5 {
    font-weight: 900;
    color: #1e1e1e;
    margin: -15px 0;
    font-size: 15px;
    letter-spacing: 3.5px; }

#bot-h5 {
  color: #eaeaea;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: 30px; }

.pg-btn {
  width: 150px;
  height: 15px;
  line-height: 15px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px; }

.left {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  z-index: 11;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eaeaea;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.under {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eaeaea;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.show-left {
  right: 0; }

.show-bottom {
  top: 0; }

.desc {
  margin-top: 60px; }
  .desc h1 {
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 45px; }

.sec-A h1 {
  color: #cf3b28;
  border-bottom: 1px solid #cf3b28; }

.sub-btn {
  margin: 20px;
  display: inline-block;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  height: 15px;
  padding: 10px 0;
  font-weight: 300;
  line-height: 15px;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }

.about-btn {
  border-bottom: 1px solid #eaeaea;
  background: transparent;
  color: #cf3b28;
  padding: 10px 0 25px 0; }

.about-btn:hover {
  background: #222;
  letter-spacing: 4px;
  border-bottom: 1px solid #cf3b28; }

.back-btn {
  background: #3ab074;
  color: #eaeaea;
  border-bottom: 1px solid #222;
  margin: 20px auto;
  display: block; }

.back-btn:hover {
  background: #eaeaea;
  color: #222;
  letter-spacing: 5px; }

.sec-B {
  background: #7f8c97; }

@media only screen and (min-width: 1024px) {
  .projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'; }
  .projects-container .cd-single-project {
    width: 25vw;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: width 0s;
    transition: width 0s; }
    .projects-container .cd-single-project:first-of-type::before {
      content: '../assets/img-1-large.jpg'; }
    .projects-container .cd-single-project:first-of-type::after {
      background-image: url("../assets/img-1-large.jpg"); }
    .projects-container .cd-single-project:nth-of-type(2) {
      top: 0;
      left: 25vw; }
      .projects-container .cd-single-project:nth-of-type(2)::before {
        content: '../assets/img-2-large.jpg'; }
      .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url("../assets/img-2-large.jpg"); }
    .projects-container .cd-single-project:nth-of-type(3) {
      top: 0;
      left: 50vw; }
      .projects-container .cd-single-project:nth-of-type(3)::before {
        content: '../assets/img-3-large.jpg'; }
      .projects-container .cd-single-project:nth-of-type(3)::after {
        background-image: url("../assets/img-3-large.jpg"); }
    .projects-container .cd-single-project:nth-of-type(4) {
      top: 0;
      left: 75vw; }
      .projects-container .cd-single-project:nth-of-type(4)::before {
        content: '../assets/img-4-large.jpg'; }
      .projects-container .cd-single-project:nth-of-type(4)::after {
        background-image: url("../assets/img-4-large.jpg"); }
    .projects-container .cd-single-project::after {
      height: 100vh;
      width: 100%;
      opacity: 0; }
    .projects-container .cd-single-project.is-loaded {
      /* show items when background images have been loaded */
      opacity: 1; }
      .projects-container .cd-single-project.is-loaded::after {
        opacity: 1; }
    .projects-container .cd-single-project.is-full-width {
      /* selected item */
      left: 0vw;
      width: 100vw;
      -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
      transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s; }

  .cd-title {
    top: 50vh;
    width: 25vw;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-20px);
    -ms-transform: translateY(-50%) translateX(-20px);
    transform: translateY(-50%) translateX(-20px); }

  .is-loaded .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
    transition: transform 0.6s, opacity 0.6s, left 0.4s; }
  .is-loaded.is-full-width .cd-title {
    left: 37.5vw;
    -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
    transition: transform 0.6s, opacity 0s, left 0.4s; }

  .cd-title p {
    display: block; }

  .cd-project-info {
    position: relative;
    z-index: 1; } }
@media only screen and (min-width: 1170px) {
  .projects-container .cd-single-project::after {
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s; }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 0; }

  .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  .projects-container .cd-close {
    background-image: url("../assets/icon-close-desktop.svg"); }
  .projects-container .cd-scroll {
    background-image: url("../assets/icon-arrow-desktop.svg"); } }
